.sp-preloader {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);

  >div {
    background: var(--bs-link-color);

    &:after {
      background: var(--bs-body-bg);
    }
  }
}

#sp-top-bar {
  background: $topbar_bg_color;
  color: $topbar_text_color;

  a {
    color: $topbar_text_color;
  }
}

#sp-header {
  background: $header_bg_color;
}

#sp-menu ul.social-icons {

  a:hover,
  a:focus {
    color: var(--bs-link-color);
  }
}

.tags>li {
  display: inline-block;

  a {
    color: var(--bs-link-color);

    @if $link_color {
      background: fade-out($link_color, 0.9);
    }

    &:hover {
      background: var(--bs-link-hover-color);
    }
  }
}

.article-social-share .social-share-icon ul li a {
  color: var(--bs-body-color);

  &:hover,
  &:focus {
    background: var(--bs-link-color);
  }
}

.pager>li a {
  border: 1px solid #ededed;
  color: var(--bs-body-color);
}

.sp-reading-progress-bar {
  background-color: var(--bs-link-color);
}

.sp-megamenu-parent {
  >li {
    >a {
      color: $menu_text_color;
    }

    &:hover>a {
      color: $menu_text_hover_color;
    }

    &.active>a,
    &.active:hover>a {
      color: $menu_text_active_color;
    }
  }

  .sp-dropdown {
    .sp-dropdown-inner {
      background: $menu_dropdown_bg_color;
    }

    li.sp-menu-item {
      >a {
        color: $menu_dropdown_text_color;

        &:hover {
          color: $menu_dropdown_text_hover_color;
        }
      }

      &.active>a {
        color: $menu_dropdown_text_active_color;
      }
    }
  }

  .sp-mega-group>li>a {
    color: $menu_dropdown_text_color;
  }
}

#offcanvas-toggler {

  >.fa,
  >.fas,
  >.far {
    color: $menu_text_color;

    &:hover,
    &:focus,
    &:active {
      color: $menu_text_hover_color;
    }
  }
}

.offcanvas-menu {
  background-color: $offcanvas_menu_bg_color;
  color: $menu_dropdown_text_color;

  .offcanvas-inner {
    a {
      color: $offcanvas_menu_items_and_items_color;

      &:hover,
      &:focus,
      &:active {
        color: var(--bs-link-color);
      }
    }

    ul.menu>li {

      a,
      span {
        color: $offcanvas_menu_items_and_items_color;

        &:hover,
        &:focus {
          color: $menu_dropdown_text_hover_color;
        }
      }

      &.menu-parent {

        >a,
        >.menu-separator>.menu-toggler,
        .menu-toggler {
          @if $offcanvas_menu_items_and_items_color !=null {
            color: fade-out($offcanvas_menu_items_and_items_color, 0.5);
          }
        }
      }

      li a {
        @if $offcanvas_menu_items_and_items_color !=null {
          color: fade-out($offcanvas_menu_items_and_items_color, 0.2);
        }
      }
    }
  }
}

.btn-primary,
.sppb-btn-primary {
  border-color: var(--bs-link-color);
  background-color: var(--bs-link-color);

  &:hover {
    border-color: var(--bs-link-hover-color);
    background-color: var(--bs-link-hover-color);
  }
}

ul.social-icons>li a:hover {
  color: var(--bs-link-color);
}

.sp-page-title {
  background: var(--bs-link-color);
}

.layout-boxed .body-innerwrapper {
  background: var(--bs-body-bg);
}

.sp-module {

  ul>li>a,
  .latestnews>div>a {
    color: var(--bs-body-color);

    &:hover {
      color: var(--bs-link-color);
    }
  }

  .tagscloud .tag-name:hover {
    background: var(--bs-link-color);
  }
}

.search .btn-toolbar button {
  background: var(--bs-link-color);
}

#sp-footer,
#sp-bottom {
  background: $footer_bg_color;
  color: $footer_text_color;

  a {
    color: $footer_link_color;

    &:hover,
    &:active,
    &:focus {
      color: $footer_link_hover_color;
    }
  }
}

#sp-bottom .sp-module-content .latestnews>li>a>span {
  color: $footer_text_color;
}

.sp-comingsoon body {
  background-color: var(--bs-link-color);
}

.pagination {
  >li {

    >a,
    >span {
      color: var(--bs-body-color);

      &:hover,
      &:focus {
        color: var(--bs-body-color);
      }
    }

    &.active {

      >a,
      >span {
        border-color: var(--bs-link-color);
        background-color: var(--bs-link-color);

        &:hover,
        &:focus {
          border-color: var(--bs-link-color);
          background-color: var(--bs-link-color);
        }
      }
    }
  }
}

.error-code,
.coming-soon-number {
  color: var(--bs-link-color);
}