.row {
  --bs-gutter-x: #{$gutterX};

  margin-right: calc(-1 * var(--bs-gutter-x));
  margin-left: calc(-1 * var(--bs-gutter-x));
}

.container {
  padding-right: var(--bs-gutter-x);
  padding-left: var(--bs-gutter-x);
}

p {
  margin-bottom: 0;

  &+& {
    margin-top: toRem(16);
  }
}

