.row {
  --bs-gutter-x: #{$gutterX};

  margin-right: calc(-1 * var(--bs-gutter-x));
  margin-left: calc(-1 * var(--bs-gutter-x));
}

.container {
  padding-right: var(--bs-gutter-x);
  padding-left: var(--bs-gutter-x);
}


@media (max-width: 991px) {
  :root {
    --header_height: #{$header_height_sm};
  }
}

@media (max-width: 575px) {
  :root {
    --header_height: #{$header_height_xs};
  }
}